body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	transition: 0.5s;
}

body::-webkit-scrollbar-thumb:hover {
	background: #888888;
}

body::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #8888882a;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	transition: 0.5s;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #888888;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #8888882a;
}

.dark body::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	transition: 0.5s;
}

.dark body::-webkit-scrollbar-thumb:hover{
	background: #858585;
}

.dark body::-webkit-scrollbar-thumb{
	border-radius: 20px;
	background: #555555;
}