.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	transition: 0.5s;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #888888;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: #8888882a;
}