@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition-property: all;
	transition-duration: 300ms;
}

body {
	border-radius: 10px;
	margin: 0;
	font-family: 'Poppins', Arial, Helvetica, sans-serif !important;
}

body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
}

div.container {
  height: 100vh;
  width: 93.5%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

div.pop-up {
  position: relative;
  left: 128px;
  bottom: 68px;
  width: 120px;
  height: 80px;
  background-color: #3795f6;
  border-radius: 5px;
  cursor: pointer;
}

div.pop-up p {
  position: relative;
  bottom: 10px;
  text-align: center;
  color: #fff;
}

div.arrow-down {
  position: relative;
  top: 78px;
  left: 45px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-top: 15px solid #3795f6;
}

div.online-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  
  background-color: #0fcc45;
  border-radius: 50%;
  
  position: relative;
}
span.blink {
  display: block;
  width: 15px;
  height: 15px;
  
  background-color: #0fcc45;
  opacity: 0.7;
  border-radius: 50%;
  
  animation: blink 1s linear infinite;
}

h2.online-text {
  display: inline;
  
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-shadow: 0px 3px 6px rgba(150, 150, 150, 0.2);
  
  position: relative;
  cursor: pointer;
}

div.offline {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  
  background-color: #cc0f0f;
  border-radius: 50%;
  
  position: relative;
}

/*Animations*/

@keyframes blink {
  100% { transform: scale(2, 2); 
          opacity: 0;
        }
}

@layer utilities {
	.center {
		@apply flex flex-col justify-center items-center;
	}
	.centered-axis-xy {
		@apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}
	.centered-axis-x {
		@apply absolute left-1/2 -translate-x-1/2;
	}
	.centered-axis-y {
		@apply absolute top-1/2 -translate-y-1/2;
	}
	.searchBox {
		@apply placeholder:!text-[#252525] dark:placeholder:!text-[#A6A6A6];
	}
}
